{% extends "base.html" %}
{% load static %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "challenges/challenges.css" %}">
    <link rel="stylesheet" href="{% static "challenges/includes/header.css" %}">
{% endblock %}

{% block my_title %}
    Monthly Challenges
{% endblock %}

{% block content %}
    {% include "challenges/includes/header.html" %}
    <h1>Choose the month for the daily challenge:</h1>
    <hr>
    <br>
    <ul>
    {% for month in months %}
        <li><h2><a href="{% url 'month-challenge' month %}">{{ month|title }}</a></h2></li>
    {% endfor %}
    </ul>

    
{% endblock %}
